pipeline/OrderBlobsProcessor.json
{
	"name": "OrderBlobsProcessor",
	"properties": {
		"description": "This pipeline would process incoming order blobs",
		"activities": [
			{
				"name": "Load Processable Blobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "BlobMetaDataTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate Processable Blobs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load Processable Blobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load Processable Blobs').output.value",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}