pipeline/OrderBlobsProcessor.json
{
	"name": "OrderBlobsProcessor",
	"properties": {
		"description": "This pipeline would process incoming order blobs",
		"activities": [
			{
				"name": "Load Processable Blobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "BlobMetaDataTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate Processable Blobs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load Processable Blobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load Processable Blobs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "InvokeAzFunctionAPI",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "DLSTargetProvider",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"body": {
									"value": "@concat('{\"blobPath\":\"', item().Path, '\", \"blobName\":\"', item().BlobName, '\"}')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DLSTargetProvider",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy Blob Storage to DLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "InvokeAzFunctionAPI",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OrdersBlobStorageDataset",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "orders",
										"folder": "/",
										"filePath": "orders-2"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OrganizedOrdersDLSDataset",
									"type": "DatasetReference",
									"parameters": {
										"fileSystemName": "organized-data",
										"folder": {
											"value": "@activity('Load Processable Blobs').output.targetOrganizedFullPath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@activity('Load Processable Blobs').output.targetOrganizedFileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}